{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'sites/css/bootstrap.min.css' %}">

    <title>
        {% block title %}
            Infinite Scrolling
        {% endblock %}
    </title>
  </head>
  <body>
      <div class="container">
          <div class="row">
            {% block content %}
            {% endblock %}
          </div>
      </div>

    <script src="{% static 'sites/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'sites/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'sites/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'sites/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'sites/js/infinite.min.js' %}"></script>
    {% block JavaScript %}
    {% endblock %}
  </body>
</html>